/* 
<a href="#" class="link link--branded">
  Link Text
  <svg>..</svg>
</a>
*/

.link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: var(--foreground);
  font-size: var(--font-sm);
  font-weight: 500;
  line-height: var(--leading-6);
  text-decoration: none;
  position: relative;
}
.link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px; 
  bottom: 0;
  left: 0;
  background-color: var(--primary); 
  transition: width 0.3s ease; 
}
.link:hover::before {
  width: 100%; 
}
.link--branded {
  color: var(--primary);
}



.link-button{
  display: inline-flex;
  height: 2.5rem;
  padding: var(--spacing-2) var(--spacing-4);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2);
  border: 1px solid transparent;
  border-radius: var(--rounded-md);
  background-color: var(--primary);
  cursor: pointer;
  text-decoration: none;
  font-size: var(--font-sm);
  color: var(--primary-foreground);
  line-height: var(--leading-5);
  font-weight: 500;
} 

.link-button:hover{
  background-color: var(--primary-hover);
  transform: scale(1.1);
}
.link-button:active{
  background-color: var(--primary-active);
  transform: scale(1.3);
}
